img {
        background-color: DimGray;
    }
input{
        text-align: center;
}
div{
        text-align: center;
}
body{
        background-color: Gainsboro;
}
h2{
        text-align: center;
}
.jumbotron{
        text-align: center;
        background-color: green;
}
button{
        background-color: lightgreen;
}